Flask==2.3.3
Flask-Cors==4.0.0
torch==2.5.1
transformers==4.46.0
numpy==1.26.4
requests==2.31.0
lime==0.2.0.1
deep-translator==1.11.4
python-dotenv==1.0.0
gunicorn==21.2.0
safetensors==0.4.5
tokenizers==0.20.3
